[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pep8 = "*"
pydocstyle = "*"

[packages]
django = "*"
django-registration = "*"
psycopg2-binary = "*"
factory-boy = "*"
coverage = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
