{% extends "generic/base.html" %}

{% block content %}
<div class="budget_list">
<h2><a href="{% url "budget_add" %}">Add New Budget</a><h2>
{% for budget in budgets %}
<div class="budgets">
  <h2>{{ budget.name }}: ${{ budget.total_budget|floatformat:2}}</h2>
  <h2> Money left: ${{budget.remaining_budget|floatformat:2}}</h2>
  <h3><a href="{% url "transaction_add" %}">Add New Transaction</a><h3>
    {% for transaction in transactions %}
    {% if transaction.budget == budget %}
      {% if transaction.type == 'WITHDRAWAL' %}
      <p class="transaction"><a href="{% url "transaction_detail" id=transaction.id %}">{{ transaction.description }}: -{{transaction.amount|floatformat:2}}</a></p>
      {% else %}
      <p class="transaction"><a href="{% url "transaction_detail" id=transaction.id %}">{{ transaction.description }}: +{{transaction.amount|floatformat:2}}</a></p>
      {% endif %}
      {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock content %}
